*{
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  /* background-color: rgb(0, 0, 0); */
  color: black;
}
.conatainer{
  margin: 20px 125px 0px 125px;
}
.Header-Heading{
  color: rgb(245, 170, 9);
}
.Header-Cart-Button{
  background-color: transparent !important;
  color: rgb(245, 170, 9) !important;
}
.checkOu-btn{
  background-color: rgb(245, 170, 9) !important;
  color: black IM !important;
}
.action-items-quantity{
  display: flex;
}
.action-items-quantity .AddIcon{
  border: 1px solid;
    color: black;
    background: #f5aa09;
    width: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px;
}